// scrollbar
.scrollbar {
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
    // display: none;
    width: 1em;
}

.scrollbar::-webkit-scrollbar:has(.scrollbar-hover-section:hover) {
    display: block;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 1em;
    opacity: 0;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-lightgray);
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 100vw;
    min-height: 3em;
}

.thin-scrollbar {
    @extend .scrollbar;
}

.thin-scrollbar::-webkit-scrollbar {
    width: .6em;
}

.thin-scrollbar::-webkit-scrollbar-track {
    border-radius: .6em;
}